/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  color: #333;
  font-weight: bold;
}

h1 {
margin-bottom: 20px; 
}

.category {
  margin-bottom: 70px;
  
}


.candidate p {
  margin: 10px 0 5px;
  font-weight: bold;
  text-align: center;
  max-width: 150px;
}



.submit-btn {
  display: block;
  width: 35%;
  padding: 10px;
  margin: 0 auto;
  height: 50px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.radio-image-container {
  display: flex;
  gap: 50px;
  justify-content: space-around;
}

.radio-image {
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease, border-color 0.3s ease;
  
}
.radio-image img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border: 2px solid transparent;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}
.radio-image input[type="radio"] {
  display: none;
}
.radio-image input[type="radio"]:checked + img {
  border-color: #007bff;
  border-width: 5px;
}

.radio-image input[type="radio"]:checked + img + p {
  border-width: 5px;
  background-color: #d0e7ff; /* Light blue background for highlighting */
  color: #007bff; /* Blue text for emphasis */
  padding: 8px;
  border-radius: 5px; /* Rounded corners */
  font-weight: bold;
  
  
}
.radio-image:hover{
  transform: scale(1.05);
}

#spin_btn {
  display: none;
  width: 300px;
  padding: 10px;
  margin: -50px 280px ;
  height: 50px;
  background-color: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
}

.warning-banner {
  background-color: #ffcccc;
  padding: 15px;
  border-bottom: 2px solid #990000;
  text-align: center;
}
.warning-banner h1 {
  margin: 0;
  font-size: 1.8em;
}
.warning-banner p {
  margin: 5px 0;
  font-size: 1.2em;
}


/* Responsive Styles */
@media (min-width: 340px) and (max-width:580px) {
  .candidates {
      justify-content: center;
      gap: 15px;
  }

  .candidate {
      width: 60px;
  }

  h1, h2 {
      font-size: 1.3rem;
      
  }

  p{
    font-size: 1rem;
    
  }
  
  .submit-btn:hover {
      background-color: #0056b3;
      
  }


  .container{
    min-width: 330px;
    max-width: 600px;
    
  }

  .radio-image-container {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    margin-left: -25px;
  }
  
  .radio-image {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease, border-color 0.3s ease;
    
  }
  .radio-image img {
    width: 85px;
    height:100px;
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 0.3s ease;
  }


  #pres_radio{
    gap: 10px;
    
  }

  .modal-dialog.modal-sm{
    width: 330px;
    margin: 0 auto;
    margin-top: 10px;
  }

  .submit-btn{
    width: fit-content;
    font-size: medium;
  }

  #spin_btn{
    width: fit-content;
    font-size: medium;
    margin-left: 120px;
    height: 60px;
  }
  
}

